<div class="content-wrapper">
  <div class="contacts-contents">
    <div class="contacts-list">
      <div class="addNewContactBtn">
        <button>
          Add new contact
          <img src="assets/img/icon_person_add.svg" alt="Add" class="icon" />
        </button>
      </div>

      <div class="listContent">
        <div class="letterWrapperA">
          <div class="firstLetter">A</div>
          <div class="contactsA">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperB">
          <div class="firstLetter">B</div>
          <div class="contactsB">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperC">
          <div class="firstLetter">C</div>
          <div class="contactsC">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperD">
          <div class="firstLetter">D</div>
          <div class="contactsD">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperE">
          <div class="firstLetter">E</div>
          <div class="contactsE">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperF">
          <div class="firstLetter">F</div>
          <div class="contactsF">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperG">
          <div class="firstLetter">G</div>
          <div class="contactsG">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperH">
          <div class="firstLetter">H</div>
          <div class="contactsH">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperI">
          <div class="firstLetter">I</div>
          <div class="contactsI">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperJ">
          <div class="firstLetter">J</div>
          <div class="contactsJ">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperK">
          <div class="firstLetter">K</div>
          <div class="contactsK">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperL">
          <div class="firstLetter">L</div>
          <div class="contactsL">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperM">
          <div class="firstLetter">M</div>
          <div class="contactsM">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperN">
          <div class="firstLetter">N</div>
          <div class="contactsN">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperO">
          <div class="firstLetter">O</div>
          <div class="contactsO">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperP">
          <div class="firstLetter">P</div>
          <div class="contactsP">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperQ">
          <div class="firstLetter">Q</div>
          <div class="contactsQ">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperR">
          <div class="firstLetter">R</div>
          <div class="contactsR">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperS">
          <div class="firstLetter">S</div>
          <div class="contactsS">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperT">
          <div class="firstLetter">T</div>
          <div class="contactsT">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperU">
          <div class="firstLetter">U</div>
          <div class="contactsU">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperV">
          <div class="firstLetter">V</div>
          <div class="contactsV">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperW">
          <div class="firstLetter">W</div>
          <div class="contactsW">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperX">
          <div class="firstLetter">X</div>
          <div class="contactsX">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperY">
          <div class="firstLetter">Y</div>
          <div class="contactsY">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperZ">
          <div class="firstLetter">Z</div>
          <div class="contactsZ">
            <div class="contactContainer">
              <div class="initials"></div>
              <div class="contactNameAndMail">
                <div class="contactName"></div>
                <div class="contactMail"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts-right">
        <div class="component-header">
          <h1 class="component-title">Contacts</h1>
          <span class="header-divider"> | </span
          ><span class="component-subtitle">Better with a team</span>
        </div>
        <p>Placeholder 2</p>
      </div>
    </div>

    <div class="add-contact-overlay">
      <div class="add-contact-form">
        <h2>Add Contact</h2>
        <form>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />

          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" required />
          <div class="form-buttons">
            <button type="button" class="cancel-button">Cancel</button>
            <button type="submit">Add Contact</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
