<div class="content-wrapper">
  <div class="contacts-contents">
    <div class="contacts-list">
      <div class="addNewContactBtn">
        <button (click)="openAddContactOverlay()">
          Add new contact
          <img src="assets/img/icon_person_add.svg" alt="Add" class="icon" />
        </button>
      </div>
      <div class="listContent">
        <div class="letterWrapperA" *ngIf="groupedContacts['A']?.length">
          <div class="firstLetter">A</div>
          <div class="contactsA">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['A']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperB" *ngIf="groupedContacts['B']?.length">
          <div class="firstLetter">B</div>
          <div class="contactsB">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['B']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperC" *ngIf="groupedContacts['C']?.length">
          <div class="firstLetter">C</div>
          <div class="contactsC">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['C']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperD" *ngIf="groupedContacts['D']?.length">
          <div class="firstLetter">D</div>
          <div class="contactsD">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['D']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperE" *ngIf="groupedContacts['E']?.length">
          <div class="firstLetter">E</div>
          <div class="contactsE">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['E']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperF" *ngIf="groupedContacts['F']?.length">
          <div class="firstLetter">F</div>
          <div class="contactsF">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['F']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperG" *ngIf="groupedContacts['G']?.length">
          <div class="firstLetter">G</div>
          <div class="contactsG">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['G']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperH" *ngIf="groupedContacts['H']?.length">
          <div class="firstLetter">H</div>
          <div class="contactsH">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['H']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperI" *ngIf="groupedContacts['I']?.length">
          <div class="firstLetter">I</div>
          <div class="contactsI">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['I']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperJ" *ngIf="groupedContacts['J']?.length">
          <div class="firstLetter">J</div>
          <div class="contactsJ">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['J']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperK" *ngIf="groupedContacts['K']?.length">
          <div class="firstLetter">K</div>
          <div class="contactsK">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['K']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperL" *ngIf="groupedContacts['L']?.length">
          <div class="firstLetter">L</div>
          <div class="contactsL">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['L']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperM" *ngIf="groupedContacts['M']?.length">
          <div class="firstLetter">M</div>
          <div class="contactsM">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['M']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperN" *ngIf="groupedContacts['N']?.length">
          <div class="firstLetter">N</div>
          <div class="contactsN">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['N']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperO" *ngIf="groupedContacts['O']?.length">
          <div class="firstLetter">O</div>
          <div class="contactsO">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['O']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperP" *ngIf="groupedContacts['P']?.length">
          <div class="firstLetter">P</div>
          <div class="contactsP">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['P']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperQ" *ngIf="groupedContacts['Q']?.length">
          <div class="firstLetter">Q</div>
          <div class="contactsQ">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['Q']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperR" *ngIf="groupedContacts['R']?.length">
          <div class="firstLetter">R</div>
          <div class="contactsR">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['R']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperS" *ngIf="groupedContacts['S']?.length">
          <div class="firstLetter">S</div>
          <div class="contactsS">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['S']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperT" *ngIf="groupedContacts['T']?.length">
          <div class="firstLetter">T</div>
          <div class="contactsT">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['T']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperU" *ngIf="groupedContacts['U']?.length">
          <div class="firstLetter">U</div>
          <div class="contactsU">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['U']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperV" *ngIf="groupedContacts['V']?.length">
          <div class="firstLetter">V</div>
          <div class="contactsV">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['V']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperW" *ngIf="groupedContacts['W']?.length">
          <div class="firstLetter">W</div>
          <div class="contactsW">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['W']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperX" *ngIf="groupedContacts['X']?.length">
          <div class="firstLetter">X</div>
          <div class="contactsX">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['X']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperY" *ngIf="groupedContacts['Y']?.length">
          <div class="firstLetter">Y</div>
          <div class="contactsY">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['Y']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="letterWrapperZ" *ngIf="groupedContacts['Z']?.length">
          <div class="firstLetter">Z</div>
          <div class="contactsZ">
            <div
              class="contactContainer"
              *ngFor="let contact of groupedContacts['Z']"
              (click)="selectContact(contact)"
              [ngClass]="{'active': selectedContact === contact}"
            >
              <div
                class="initials"
                [style.background]="getInitialsColor(contact.name)"
              >
                {{ getInitials(contact.name) }}
              </div>
              <div class="contactNameAndMail">
                <div class="contactName">{{ contact.name }}</div>
                <div class="contactMail">{{ contact.email }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contacts-right default-content-container">
      <div class="component-header">
        <h1 class="component-title">Contacts</h1>
        <span class="header-divider"> | </span
        ><span class="component-subtitle">Better with a team</span>
      </div>
      <div
        class="single-contact-container"
        *ngIf="selectedContact"
        @slideInRight
        [@slideInRight]="selectedContact?.email"
      >
        <div class="single-contact-header">
          <div
            class="single-contact-initials"
            [style.background]="getInitialsColor(selectedContact.name)"
          >
            {{ getInitials(selectedContact.name) }}
          </div>
          <div class="single-contact-name-block">
            <h2 class="single-contact-name">{{ selectedContact.name }}</h2>
            <div class="single-contact-edit-row">
              <div class="single-ctc-edit-btn" (click)="openEditContactOverlay(selectedContact)">
                <img
                  class="single-ctc-edit-icon"
                  src="/assets/img/icon_todo.svg"
                />
                <span class="single-ctc-edit-text">Edit</span>
              </div>
              <div class="single-ctc-edit-btn" (click)="deleteContact()">
                <img
                  class="single-ctc-edit-icon"
                  src="/assets/img/icon_delete.svg"
                />
                <span class="single-ctc-edit-text">Delete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="single-contact-infoblock">
          <h3 class="single-contact-info-title">Contact Information</h3>
          <div class="single-contact-info">
            <p class="single-contact-info-label">Email</p>
            <a class="single-contact-info-value single-contact-info-email" [href]="'mailto:' + selectedContact.email">
              {{ selectedContact.email }}
            </a>
            <p class="single-contact-info-label">Phone</p>
            <p class="single-contact-info-value">{{ selectedContact.phone }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-overlay" *ngIf="showAddContactOverlay">
    <div class="contact-container">
      <div class="contact-left">
        <div class="logo-placeholder">
          <svg class="add-logo" width="100%" height="100%" viewBox="0 0 101 122" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <rect x="50.497" y="0" width="22.158" height="25.492" style="fill: white;"/>
            </g>
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <path d="M50.497,46.225L72.655,46.225L72.655,82.178C72.756,90.829 70.294,99.315 65.582,106.557C60.928,113.594 51.946,121.966 35.328,121.966C17.226,121.966 6.676,113.406 0.983,108.715L14.959,91.474C20.516,96.011 25.868,99.744 35.413,99.744C42.64,99.744 45.52,96.799 47.208,94.231C49.502,90.664 50.688,86.492 50.617,82.246L50.497,46.225Z" style="fill: white;"/>
            </g>
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <rect x="17.039" y="30.132" width="22.158" height="22.257" style="fill:rgb(41,171,226);"/>
            </g>
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <path d="M84.262,111.522C84.262,116.265 81.859,118.815 78.501,118.815C75.143,118.815 72.945,115.785 72.945,111.762C72.945,107.739 75.212,104.554 78.689,104.554C82.166,104.554 84.262,107.687 84.262,111.522ZM75.518,111.711C75.518,114.57 76.66,116.675 78.621,116.675C80.581,116.675 81.689,114.45 81.689,111.539C81.689,108.988 80.666,106.592 78.621,106.592C76.575,106.592 75.518,108.903 75.518,111.711Z" style="fill: white;"/>
            </g>
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <rect x="86.205" y="104.76" width="2.454" height="13.833" style="fill: white;"/>
            </g>
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <path d="M91.319,118.593L91.319,104.76L94.046,104.76L96.978,110.461C97.732,111.952 98.404,113.483 98.989,115.049C98.835,113.337 98.767,111.368 98.767,109.177L98.767,104.76L101.017,104.76L101.017,118.593L98.477,118.593L95.512,112.772C94.727,111.243 94.027,109.671 93.415,108.064C93.415,109.776 93.534,111.711 93.534,114.09L93.534,118.576L91.319,118.593Z" style="fill: white;"/>
            </g>
          </svg>
        </div>
        <h1>Add contact</h1>
        <p class="subtitle">Tasks are better with a team!</p>
        <div class="underline"></div>
      </div>
      <div class="contact-right">
        <button
          class="close-btn"
          aria-label="Close"
          (click)="closeAddContactOverlay()"
        >
          &#10005;
        </button>
        <div class="contact-right-inner">
          <div class="avatar-and-form">
            <div
              class="avatar-placeholder"
              [style.background]="
                addContactForm.get('name')?.value
                  ? getInitialsColor(addContactForm.get('name')?.value)
                  : 'rgb(237, 237, 237)'">
              <span
                *ngIf="addContactForm.get('name')?.value; else defaultAvatar">
                {{ getInitials(addContactForm.get("name")?.value) }}
              </span>
              <ng-template #defaultAvatar></ng-template>
            </div>
            <form
              [formGroup]="addContactForm"
              (ngSubmit)="onSubmitAddContact()"
            >
              <div class="input-group">
                <input
                  type="text"
                  placeholder="Name"
                  formControlName="name"
                  [class.input-error]="
                    addContactForm.get('name')?.invalid &&
                    addContactForm.get('name')?.touched
                  "
                  autocomplete="off"
                />
                <span class="input-icon"></span>
                <div
                  class="error-message"
                  *ngIf="
                    addContactForm.get('name')?.invalid &&
                    addContactForm.get('name')?.touched
                  "
                >
                  Please type in a name
                </div>
              </div>
              <div class="input-group">
                <input
                  type="email"
                  placeholder="Email"
                  formControlName="email"
                  [class.input-error]="
                    addContactForm.get('email')?.invalid &&
                    addContactForm.get('email')?.touched
                  "
                  autocomplete="off"
                />
                <span class="input-icon"></span>
                <div
                  class="error-message"
                  *ngIf="addContactForm.get('email')?.errors?.['required'] && addContactForm.get('email')?.touched"
                >
                  Please type in an email
                </div>
                <div
                  class="error-message"
                  *ngIf="addContactForm.get('email')?.errors?.['email'] && addContactForm.get('email')?.touched"
                >
                  Enter a valid email
                </div>
              </div>
              <div class="input-group">
                <input
                  type="tel"
                  placeholder="Phone"
                  formControlName="phone"
                  [class.input-error]="
                    addContactForm.get('phone')?.invalid &&
                    addContactForm.get('phone')?.touched
                  "
                  autocomplete="off"
                />
                <span class="input-icon"></span>
                <div
                  class="error-message"
                  *ngIf="
                    addContactForm.get('phone')?.invalid &&
                    addContactForm.get('phone')?.touched
                  "
                >
                  Please type in a phone number
                </div>
              </div>
              <div class="form-buttons">
                <button
                  type="button"
                  class="cancel-button"
                  (click)="closeAddContactOverlay()"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="create-button"
                  [disabled]="addContactForm.invalid"
                  [class.disabled]="addContactForm.invalid"
                >
                  Create contact
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-overlay" *ngIf="showEditContactOverlay">
    <div class="contact-container">
      <div class="contact-left">
        <div class="logo-placeholder">
          <svg class="add-logo" width="100%" height="100%" viewBox="0 0 101 122" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <rect x="50.497" y="0" width="22.158" height="25.492" style="fill: white;"/>
            </g>
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <path d="M50.497,46.225L72.655,46.225L72.655,82.178C72.756,90.829 70.294,99.315 65.582,106.557C60.928,113.594 51.946,121.966 35.328,121.966C17.226,121.966 6.676,113.406 0.983,108.715L14.959,91.474C20.516,96.011 25.868,99.744 35.413,99.744C42.64,99.744 45.52,96.799 47.208,94.231C49.502,90.664 50.688,86.492 50.617,82.246L50.497,46.225Z" style="fill: white;"/>
            </g>
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <rect x="17.039" y="30.132" width="22.158" height="22.257" style="fill:rgb(41,171,226);"/>
            </g>
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <path d="M84.262,111.522C84.262,116.265 81.859,118.815 78.501,118.815C75.143,118.815 72.945,115.785 72.945,111.762C72.945,107.739 75.212,104.554 78.689,104.554C82.166,104.554 84.262,107.687 84.262,111.522ZM75.518,111.711C75.518,114.57 76.66,116.675 78.621,116.675C80.581,116.675 81.689,114.45 81.689,111.539C81.689,108.988 80.666,106.592 78.621,106.592C76.575,106.592 75.518,108.903 75.518,111.711Z" style="fill: white;"/>
            </g>
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <rect x="86.205" y="104.76" width="2.454" height="13.833" style="fill: white;"/>
            </g>
            <g transform="matrix(1,0,0,1,-0.98291,0)">
              <path d="M91.319,118.593L91.319,104.76L94.046,104.76L96.978,110.461C97.732,111.952 98.404,113.483 98.989,115.049C98.835,113.337 98.767,111.368 98.767,109.177L98.767,104.76L101.017,104.76L101.017,118.593L98.477,118.593L95.512,112.772C94.727,111.243 94.027,109.671 93.415,108.064C93.415,109.776 93.534,111.711 93.534,114.09L93.534,118.576L91.319,118.593Z" style="fill: white;"/>
            </g>
          </svg>
        </div>
        <h1>Edit contact</h1>
        <div class="underline"></div>
      </div>
      <div class="contact-right">
        <button
          class="close-btn"
          aria-label="Close"
          (click)="closeEditContactOverlay()"
        >
          &#10005;
        </button>
        <div class="contact-right-inner">
          <div class="avatar-and-form">
            <div
              class="avatar-placeholder"
              [style.background]="
                addContactForm.get('name')?.value
                  ? getInitialsColor(addContactForm.get('name')?.value)
                  : 'rgb(237, 237, 237)'">
              <span
                *ngIf="addContactForm.get('name')?.value; else defaultAvatar">
                {{ getInitials(addContactForm.get("name")?.value) }}
              </span>
              <ng-template #defaultAvatar></ng-template>
            </div>
            <form
              [formGroup]="addContactForm"
              (ngSubmit)="onSubmitUpdateContact()"
            >
              <div class="input-group">
                <input
                  type="text"
                  placeholder="Name"
                  formControlName="name"
                  [class.input-error]="
                    addContactForm.get('name')?.invalid &&
                    addContactForm.get('name')?.touched
                  "
                  autocomplete="off"
                />
                <span class="input-icon"></span>
                <div
                  class="error-message"
                  *ngIf="
                    addContactForm.get('name')?.invalid &&
                    addContactForm.get('name')?.touched
                  "
                >
                  Please type in a name
                </div>
              </div>
              <div class="input-group">
                <input
                  type="email"
                  placeholder="Email"
                  formControlName="email"
                  [class.input-error]="
                    addContactForm.get('email')?.invalid &&
                    addContactForm.get('email')?.touched
                  "
                  autocomplete="off"
                />
                <span class="input-icon"></span>
                <div
                  class="error-message"
                  *ngIf="addContactForm.get('email')?.errors?.['required'] && addContactForm.get('email')?.touched"
                >
                  Please type in an email
                </div>
                <div
                  class="error-message"
                  *ngIf="addContactForm.get('email')?.errors?.['email'] && addContactForm.get('email')?.touched"
                >
                  Enter a valid email
                </div>
              </div>
              <div class="input-group">
                <input
                  type="tel"
                  placeholder="Phone"
                  formControlName="phone"
                  [class.input-error]="
                    addContactForm.get('phone')?.invalid &&
                    addContactForm.get('phone')?.touched
                  "
                  autocomplete="off"
                />
                <span class="input-icon"></span>
                <div
                  class="error-message"
                  *ngIf="
                    addContactForm.get('phone')?.invalid &&
                    addContactForm.get('phone')?.touched
                  "
                >
                  Please type in a phone number
                </div>
              </div>
              <div class="form-buttons">
                <button
                  type="button"
                  class="cancel-button"
                  (click)="closeEditContactOverlay()"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="create-button"
                  [disabled]="addContactForm.invalid"
                  [class.disabled]="addContactForm.invalid"
                >
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
