@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_opsz.ttf") format("truetype");
}

:root {
  --font-main: "Inter", sans-serif;
  --bg-grey: #f0f0f0;
  --bg-white: #ffffff;
  --bg-dark-grey: #2a3647;
  --nav-hover: #2a3d59;
  --nav-current: #091931;
  --color-black: #000000;
  --color-accent: #29abe2;
  --color-greyed-out: #cdcdcd;
  --color-prio-urgent: #ff3d00;
  --color-prio-medium: #ffa800;
  --color-prio-low: #7ae229;
  --color-user-story: #0038ff;
  --color-technical-task: #1fd7c1;
  --color-light-purple: #9327ff;
  --color-mid-purple: #6e52ff;
  --color-dark-purple: #462f8a;
  --color-pink: #fc71ff;
  --color-yellow: #ffbb2b;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--bg-grey);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3{
  font-weight: 500;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.default-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.component-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.component-title {
  text-align: left;
  color: var(--color-black);
  font-size: 4rem;
  font-weight: 600;
}

.header-divider {
  border-left: 2px solid var(--color-accent);
  display: inline-block;
  height: 3.5rem;
}

.component-subtitle {
  text-align: left;
  color: var(--bg-dark-grey);
  font-size: 1.8rem;
}

@media (min-width: 1001px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .mobile-only {
    display: flex;
  }
  .desktop-only {
    display: none;
  }

  .default-content-container {
    padding-top: 3rem;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    gap: 0.5rem;
    width: 100%;
  }

  .component-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .component-title-bar {
    order: 1;
  }

  .component-title {
    font-size: 2.4rem;
  }

  .component-subtitle {
    font-size: 1.4rem;
    order: 2;
  }

  .header-divider {
    order: 3;
    width: 5rem;
    height: 1px;
    border: none;
    border-bottom: 2px solid var(--color-accent);
    margin: 0;
  }
}

@media (max-width: 480px) {
  .default-content-container {
    padding-left: 1.5rem;
    padding-right: 1rem;
  }
}
@media (max-width: 360px) {
  .default-content-container {
    padding-left: 1rem;
    padding-right: 0.75rem;
  }
}
