@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_opsz.ttf") format("truetype");
}

:root {
  --font-main: "Inter", sans-serif;
  --bg-grey: #f0f0f0;
  --bg-white: #ffffff;
  --bg-dark-grey: #2a3647;
  --nav-hover: #2A3D59;
  --nav-current: #091931;
  --color-black: #000000;
  --color-accent: #29abe2;
  --color-greyed-out: #cdcdcd;
  --color-prio-urgent: #FF3D00;
  --color-prio-medium: #FFA800;
  --color-prio-low: #7AE229;
  --color-user-story: #0038FF;
  --color-technical-task: #1FD7C1;
  --color-light-purple: #9327FF;
  --color-mid-purple: #6E52FF;
  --color-dark-purple: #462F8A;
  --color-pink: #FC71FF;
  --color-yellow: #FFBB2B;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--bg-grey);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.default-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  @media (max-width: 768px) {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}

.component-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.component-title {
  text-align: left;
  color: var(--color-black);
  font-size: 4rem;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 2.4rem;
  }
}

.header-divider {
  color: var(--color-accent);
  font-size: 3.5rem;

  @media (max-width: 768px) {
    font-size: 2.2rem;
  }
}

.component-subtitle {
  text-align: left;
  color: var(--bg-dark-grey);
  font-size: 1.8rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}