

<nav>

    <div class="top">
        <div class="logoContainer">
            <svg class="logo" width="100%" height="100%" viewBox="0 0 101 122" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                <g transform="matrix(1,0,0,1,-0.98291,0)">
                    <rect x="50.497" y="0" width="22.158" height="25.492"/>
                </g>
                <g transform="matrix(1,0,0,1,-0.98291,0)">
                    <path d="M50.497,46.225L72.655,46.225L72.655,82.178C72.756,90.829 70.294,99.315 65.582,106.557C60.928,113.594 51.946,121.966 35.328,121.966C17.226,121.966 6.676,113.406 0.983,108.715L14.959,91.474C20.516,96.011 25.868,99.744 35.413,99.744C42.64,99.744 45.52,96.799 47.208,94.231C49.502,90.664 50.688,86.492 50.617,82.246L50.497,46.225Z" style="fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(1,0,0,1,-0.98291,0)">
                    <rect x="17.039" y="30.132" width="22.158" height="22.257" style="fill:rgb(41,171,226);"/>
                </g>
                <g transform="matrix(1,0,0,1,-0.98291,0)">
                    <path d="M84.262,111.522C84.262,116.265 81.859,118.815 78.501,118.815C75.143,118.815 72.945,115.785 72.945,111.762C72.945,107.739 75.212,104.554 78.689,104.554C82.166,104.554 84.262,107.687 84.262,111.522ZM75.518,111.711C75.518,114.57 76.66,116.675 78.621,116.675C80.581,116.675 81.689,114.45 81.689,111.539C81.689,108.988 80.666,106.592 78.621,106.592C76.575,106.592 75.518,108.903 75.518,111.711Z" style="fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(1,0,0,1,-0.98291,0)">
                    <rect x="86.205" y="104.76" width="2.454" height="13.833"/>
                </g>
                <g transform="matrix(1,0,0,1,-0.98291,0)">
                    <path d="M91.319,118.593L91.319,104.76L94.046,104.76L96.978,110.461C97.732,111.952 98.404,113.483 98.989,115.049C98.835,113.337 98.767,111.368 98.767,109.177L98.767,104.76L101.017,104.76L101.017,118.593L98.477,118.593L95.512,112.772C94.727,111.243 94.027,109.671 93.415,108.064C93.415,109.776 93.534,111.711 93.534,114.09L93.534,118.576L91.319,118.593Z" style="fill-rule:nonzero;"/>
                </g>
            </svg>
        </div>

        <ul *ngIf="isAuthenticated">
            <li class="nav-item active" routerLinkActive="active">
                <a routerLink="summary">
                    <div [inlineSvg]="'assets/icons/summary.svg'" class="icon"></div>
                    <span>Summary</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/add-task">
                    <div [inlineSvg]="'assets/icons/add_task.svg'" class="icon"></div>
                    <span>Add Task</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/board">
                    <div [inlineSvg]="'assets/icons/board.svg'" class="icon"></div>
                    <span>Board</span>
                </a>
            </li>            
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="contacts">
                    <div [inlineSvg]="'assets/icons/contact.svg'" class="icon"></div>
                    <span>Contact</span>
                </a>
            </li>
        </ul>

        <!-- Login button for non-authenticated users -->
        <ul class="login-section" *ngIf="!isAuthenticated">
            <li class="nav-item" routerLinkActive="active">
                <a class="login-btn" (click)="navigateToLogin()">
                    <div [inlineSvg]="'assets/icons/login.svg'" class="icon login-icon"></div>
                    <span>Log In</span>
                </a>
            </li>
        </ul>

    </div>

    <div class="bottom">
        <footer>
            <app-footer></app-footer>
        </footer>
    </div>

</nav>

