<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
</head>
<body>

    <div class="content-wrapper">
        <div class="headlineAndDescription"></div>

        <div class="mainContentWrapper">

            <div class="tasksArea">
                    <div class="toDoCounter"></div>
                    <div class="doneCounter"></div>
                    <div class="urgentWrapper">
                            <div class="urgentCounter"></div>
                            <div class="dateContainer"></div>
                    </div>


                    <div class="tasksInBoardCounter"></div>
                    <div class="tasksInProgressCounter"></div>
                    <div class="tasksAwaitingCounter"></div>
            </div>
            <div class="welcomeMessage"></div>

        </div>
    </div>
    
</body>
</html>
